In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Bosaso,11.2842,49.1816,91.80,47,66,5.01,SO,2022-09-13 22:26:30
1,1,Taoudenni,22.6783,-3.9836,100.20,7,4,9.75,ML,2022-09-13 22:26:31
2,2,Khatanga,71.9667,102.5000,31.37,96,99,5.28,RU,2022-09-13 22:26:31
3,3,Albany,42.6001,-73.9662,68.36,92,74,1.01,US,2022-09-13 22:22:23
4,4,Hobart,-42.8794,147.3294,46.26,79,20,6.91,AU,2022-09-13 22:26:32

In [3]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
7,7,Hilo,19.7297,-155.0900,82.62,76,75,7.00,US,2022-09-13 22:26:33
12,12,Port Keats,-14.2500,129.5500,77.07,81,30,1.41,AU,2022-09-13 22:26:35
14,14,Cayenne,4.9333,-52.3333,82.44,78,0,5.75,GF,2022-09-13 22:26:35
15,15,Nouakchott,18.0858,-15.9785,84.13,80,9,13.51,MR,2022-09-13 22:26:36
18,18,Farmington,36.7281,-108.2187,81.28,30,0,4.00,US,2022-09-13 22:25:02
25,25,Tateyama,34.9833,139.8667,80.10,82,95,7.29,JP,2022-09-13 22:26:39
31,31,Najran,17.4924,44.1277,81.25,16,93,3.85,SA,2022-09-13 22:26:37
32,32,Butaritari,3.0707,172.7902,80.76,71,54,4.83,KI,2022-09-13 22:26:42
41,41,Nioro,13.3500,-15.7500,76.39,94,100,5.68,GM,2022-09-13 22:26:44
42,42,Atuona,-9.8000,-139.0333,76.50,64,7,12.15,PF,2022-09-13 22:26:44

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
7         Hilo      US     82.62  19.7297 -155.0900
12  Port Keats      AU     77.07 -14.2500  129.5500
14     Cayenne      GF     82.44   4.9333  -52.3333
15  Nouakchott      MR     84.13  18.0858  -15.9785
18  Farmington      US     81.28  36.7281 -108.2187
25    Tateyama      JP     80.10  34.9833  139.8667
31      Najran      SA     81.25  17.4924   44.1277
32  Butaritari      KI     80.76   3.0707  172.7902
41       Nioro      GM     76.39  13.3500  -15.7500
42      Atuona      PF     76.50  -9.8000 -139.0333

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Hilo,US,82.62,19.7297,-155.0900,Hilo Hawaiian Hotel
12,Port Keats,AU,77.07,-14.2500,129.5500,TDC Village (Hundred Man Camp)
14,Cayenne,GF,82.44,4.9333,-52.3333,Hôtel Le Dronmi
15,Nouakchott,MR,84.13,18.0858,-15.9785,HOTEL IMAN
18,Farmington,US,81.28,36.7281,-108.2187,Courtyard by Marriott Farmington
25,Tateyama,JP,80.10,34.9833,139.8667,Tateyama Seaside Hotel
31,Najran,SA,81.25,17.4924,44.1277,محمد هادي ال فطيح
32,Butaritari,KI,80.76,3.0707,172.7902,Isles Sunset Lodge
41,Nioro,GM,76.39,13.3500,-15.7500,
42,Atuona,PF,76.50,-9.8000,-139.0333,Hôtel Hiva Oa Hanakee Lodge

In [29]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))